.navbar {
  width: 100%;
  height: 38px;
  background-color : #0b98de;
}

#navul {
  display:flex;
  list-style-type: none;
  justify-content: inline;
}

#navul li{
  padding:10px;
}

#registration{
  list-style-type:none;
}

#qotd {
  background-color: lightgray;
}

#aboutus {
  background-color: beige;
}

#testimonials {
  background-color: darkorange;
}

.questionnaire{
  border:1px solid green;

}

.questions {
  list-style-type: none;
}
