#hr1 {
  height:0px;
  border-width:20px;
  background-color:#76CBC4;
  width:100%;
}

#hr2 {
  width:100%;
  height:0px;
  border-width: 20px;
  border-color:#76CBC4;

}

.hr3 {
  width:100%;
  height:0px;
  padding: 40px;
  border-width: 20px;
  border-color:#e6b3c6;

}