.testimonials {
  align-items:center;
}

#testimonialsul {
  display:flex;
  justify-content:left;
  align-self:center;
  align-items:center;
}

.testimonial {
  list-style-type: none;
  width:100%;
  border: 1px solid green;
  padding:10px;
  margin-right:35px;
  display:block;
}
